<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Übungen für {{ level }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Übungen für {{ level }}</h1>
        <form action="{{ url_for('start_training') }}" method="POST">
            <ul class="list-group mt-4">
                {% for exercise in exercises %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ url_for('static', filename='images/' + exercise.image) }}" alt="{{ exercise.title }}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <h2>{{ exercise.title }}</h2>
                                <p>{{ exercise.description }}</p>
                                <label for="reps_{{ exercise.id }}">Wiederholungen:</label>
                                <input type="number" name="reps_{{ exercise.id }}" value="{{ exercise.repetitions }}" min="1" required class="form-control mb-2">
                                <label for="sets_{{ exercise.id }}">Sätze:</label>
                                <input type="number" name="sets_{{ exercise.id }}" value="{{ exercise.sets }}" min="1" required class="form-control mb-2">
                                <input type="checkbox" name="selected_exercises" value="{{ exercise.id }}"> Aktivieren
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-success btn-lg btn-block mt-4">Trainingsplan aktivieren</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Zurück zur Startseite</a>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>